/* DEFINIÇÕES DO TITULO */

h1 {
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}


/* DEFINIÇÕES DO PARAGRAFO */

p {
    font-size: 16pt;
    margin: 20px;
    text-align: center;
    padding: 10px;
}


/* NOMES DOS PARTICIPANTES DO PROJETO */

.devs {
    font-size: 18pt;
    font-weight: bold;
}