<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <main>
        <h1>Sobre Nós</h1>
        <p>Fãs de videogame de todas as idades podem passar horas em frente à televisão, mas a comunidade de gamers hoje não existe sem internet.</p>
        <p>A opção de jogar online transformou a experiência de competir entre amigos e facilitou a interação com jogadores do mundo todo.</p>
        <p>Para descobrir mais sobre esse universo, sites e canais ajudam a conhecer novos jogadores e estilos de games, além de relembrarem os anos dourados dos jogos eletrônicos, com personagens icônicos e as marcas favoritas de consoles.</p>
        <p>Se o videogame é um de seus passatempos, ou sua profissão, venha conferir nosso catálogo que selecionamos para você, todos repletos de jogos.</p>
    </main>
</body>

</html>