#body {
  text-align: center;
  padding: 2px;
  margin: 2px;
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  color: #E6E6E6;
}

#image {
  border: solid #FF8000;
  border-radius: 5px;
  height: 200px;
}

.desc {
  color: #BDBDBD;
  font-weight: bold;
}

.red {
  background: red;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.grey {
  background: grey;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.green {
  background: green;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.blue {
  background: blue;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.botaoUser {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.inputUser {
  position: fixed;
  right: 100px;
  bottom: 25px;
}
