<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <h1>
            <a href="/">Games</a>
        </h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="sidenav" #sidenav mode="side" opened="false">
        <mat-nav-list>
            <a mat-list-item routerLink="/consoles">Consoles</a>
            <a mat-list-item routerLink="/jogos">Jogos</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="min-height: calc(100vh - 64px)">
            <main>
                <mat-card>
                    <router-outlet>Teste</router-outlet>
                </mat-card>
            </main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>