.botaoAdd {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #A4A4A4;
}